.footer{
  overflow: hidden;
  position: sticky;
  top: 100%;
  background-color: rgb(25, 66, 78);
  padding: 20px 10px;
  color: white;
  margin-top: 30px;
}
h1
{
  font-size: 20px;
  font-weight: bold;
}
p
{
  color: #fff;
  font-size: 12px;
}
a{
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 17px;
}
a:hover
{
  color: var(--primary-color)
}
i
{
  padding: 0px 10px
}
