<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio magni asperiores animi, placeat perferendis reiciendis? Minus quos quidem cumque impedit quaerat! Non quo odio, odit iure animi sunt veritatis!
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae vero similique, deserunt eveniet nulla praesentium? Labore, assumenda. Magni nemo, libero distinctio quam aperiam, soluta, voluptas nesciunt voluptatibus illum eaque fugiat!
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam in harum autem ipsam ad et libero! Nemo nam dolorum et molestias id fugiat cumque eveniet aspernatur dignissimos corporis! Repellendus, ad.
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta quaerat doloribus similique non aspernatur, quibusdam doloremque earum reiciendis quia sint numquam inventore, voluptate quod, fuga beatae pariatur suscipit sunt facilis?
     <br/>
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae esse unde cum eligendi, placeat odit ab doloremque ipsa nesciunt voluptas assumenda illo dignissimos quae, dolor quam ex animi rem saepe.
     Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti perferendis hic vitae eaque iure beatae fuga sapiente enim atque, quis iusto dolore aut quasi vel asperiores soluta quibusdam exercitationem porro.
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, distinctio voluptatum alias doloremque voluptas ullam fugiat perferendis magnam facilis animi at qui eveniet impedit ratione quis maiores placeat dolore eligendi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aliquam praesentium debitis, architecto temporibus incidunt optio repellat deserunt doloribus vero? Perspiciatis deserunt doloremque omnis quo maxime accusamus cumque soluta magni?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio eveniet quos repudiandae voluptates quia autem ratione sed, provident, consectetur commodi illum adipisci libero vitae laborum exercitationem doloremque? Rem, corporis!
    <br/>
    </p>
</div>
